@mixin separator() {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color-neutral-3;
    border-bottom: 1px solid $color-neutral-5;
  }
}

@mixin neumorphic_shadow(){
  box-shadow: 
    4px 4px 8px rgba(190, 195, 200, 0.75),
    4px 4px 12px rgba(190, 195, 200, 0.25),
    -4px -4px 8px rgba(255, 255, 255, 0.75),
    -4px -4px 12px rgba(255, 255, 255, 0.25);
}