$color-neutral-1: #2B2D42;
$color-neutral-2: #596E76;
$color-neutral-3: #BEC3C8;
$color-neutral-4: #F3F3F3;
$color-neutral-5: #FFFFFF;

$color-accent-blue-1: #0084F4;
$color-accent-blue-2: #66B5F8;
$color-accent-blue-3: #D5E9FA;

$color-success-1: #00C48C;
$color-success-2: #7DDFC3;
$color-success-3: #D5F2EA;

$color-alert-1: #FF647C;
$color-alert-2: #FDAFBB;
$color-alert-3: #FBE4E8;

$color-warning-1: #FFCF5C;
$color-warning-2: #FFE29D;
$color-warning-3: #FFF8E7;

$font-family-montserrat: "Montserrat", sans-serif;
$font-family-lato: "Lato", sans-serif;