.btn {
  display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
	font-size: 15px;
	padding: 5px;
	text-decoration: none;
  border-radius: 5px;
  border: 0px;
  color: $color-neutral-1;
  min-height: 42px;
  
  i { font-size:24px; }

  &.btn-alert {
    i {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 4px;
        right: 4px;
        width: 6px;
        height: 6px;
        background-color: $color-alert-1;
        border: 2px solid $color-neutral-4;
        border-radius: 100%;
      }
    }
  }

  &.btn-lg { width: 80%; }

  @include neumorphic_shadow();
}