.data-table {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  
  table {
    border-collapse: separate;
    border-spacing: 20px 10px;
    width: 100%;

    tr {
      height: 59px;
  
      th, td { 
        padding: 0px 10px; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
  
        @include sm() {
          max-width: 100px;
        }
      }
  
      th {
        font-weight: normal;
        text-transform: uppercase;
      }
  
      &.data-row {
        @include neumorphic_shadow();
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}